#!/bin/bash

# {{ ansible_managed }}

SERVER_URI='{{ smash_ldap_uri }}'
BIND_DN='{{ smash_bind_dn }}'
BIND_PW='{{ smash_bind_pw }}'
BASE='{{ sshd_ldap_base }}'

USER="${1}"

if [ -z "${USER}" ]; then
    echo "usage: ${0} USER" >&2
    exit 1
fi

exec /usr/bin/ldapsearch -LLL -H "${SERVER_URI}" -D "${BIND_DN}" -w "${BIND_PW}"  -b "${BASE}" "(& (objectClass={{ sshd_ldap_object_class }}) ({{ sshd_ldap_user_attr }}=${USER}))" '{{ sshd_ldap_key_attr }}' | tail -n +2 | sed -e 's/{{ sshd_ldap_key_attr }}:\s//g' -e 's/^\s*//g' | awk '{printf $0}'
