# {{ ansible_managed }}
#
# /etc/nslcd.conf
# nslcd configuration file. See nslcd.conf(5)
# for details.

# The user and group nslcd should run as.
uid {{ nslcd_user }}
gid {{ nslcd_group }}

# The location at which the LDAP server(s) should be reachable.
uri {{ smash_ldap_uri }}

{% if nslcd_bases_global | length %}
# The search base that will be used for all queries.
{% for dn in nslcd_bases_global %}
base {{ dn }}
{% endfor %}
{% endif %}

{% if nslcd_bases | length %}
# The search bases used for specific query types.
{% for map, dns in nslcd_bases.iteritems() %}
{% for dn in dns %}
base {{ map }} {{ dn }}
{% endfor %}
{% endfor %}
{% endif %}

{% if nslcd_scope_global %}
# The global scope for all queries.
scope {{ nslcd_scope_global }}
{% endif %}

{% if nslcd_scopes %}
# Scopes for specific query types.
{% for map, scope in nslcd_scopes.iteritems() %}
scope {{ map }} {{ scope }}
{% endfor %}
{% endif %}

# Should we deref aliases?
deref {{ nslcd_deref }}

{% if nslcd_filter_global %}
# A global filter for all queries.
filter {{ nslcd_filter_global }}
{% endif %}

{% if nslcd_filters %}
# The filters used for specific query types.
{% for map, filter in nslcd_filters %}
filter {{ map }} {{ filter }}
{% endfor %}
{% endif %}

# The LDAP protocol version to use.
#ldap_version 3

# The DN to bind with for normal lookups.
#binddn cn=annonymous,dc=example,dc=net
#bindpw secret
{% if smash_bind_dn %}
binddn {{ smash_bind_dn }}
{% endif %}

{% if smash_bind_pw %}
bindpw {{ smash_bind_pw }}
{% endif %}
# The DN used for password modifications by root.
#rootpwmoddn cn=admin,dc=example,dc=com
{% if nslcd_root_pw_mod_dn %}rootpwmoddn {{ nslcd_root_pw_mod_dn }}{% endif %}

# SSL options
{% if smash_tls_ca_certificate is defined%}
ssl on
tls_cacertfile {{smash_tls_ca_certificate}}
tls_reqcert demand
{% endif %}
